.display-block {
  --display: block;
}

.display-flex {
  --display: flex;
}

.display-inline {
  --display: inline;
}

.display-inline-block {
  --display: inline-block;
}

.display-grid {
  --display: grid;
}

.display-table {
  --display: table;
}

.display-inline-flex {
  --display: inline-flex;
}

.display-inline-grid {
  --display: inline-grid;
}

.display-none {
  --display: none;
}

.display-contents {
  --display: contents;
}

.display-list-item {
  --display: list-item;
}
